.mainpar {
    font-family:alte, Helvetica, sans-serif; 
    font-size: 55px;
    left:10px;
    width:90%;
    color:rgb(189, 0, 114);
}

a {
    color:rgb(189, 0, 114);
}

h1 {
    font-family:alte, Helvetica, sans-serif; 
    font-size: 55px;
    left:10px;
    width:90%;
    color:rgb(189, 0, 114);
}

.steamp {
    width: 100vw;
    max-width: 100%;
    height:auto;
}